# Dependency directories
/node_modules
/public

# Ignore Mac system files
.DS_Store

# Ignore environment files
.env
.env-production
.env.*
*.env
.*.env

# Ignore local credentials/secrets
config/*firebase-adminsdk*.json
config/*service-account*.json
